h1{
    color: white;
    background-color: lightseagreen;
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
}

h2{
    color: lightseagreen;
    font-family: sans-serif;
}

h3{
    color: dimgray;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    color: dimgray;
}
li{
    font-family: sans-serif;
    color: dimgray;
}

a{
    font-family: sans-serif;
}

div{
    font-family: sans-serif;
    color: dimgray;
}