h1{
    color: white;
    background-color: lightseagreen;
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
}

h2{
    color: lightseagreen;
    font-family: sans-serif;
}

h3{
    color: slategrey;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}